/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #f3e0eb;
    background-color: #222222;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Hero Section */
.hero-container {
    position: relative;
    width: 100%;
    height: 400px; /* Set to the desired height of the hero section */
    overflow: hidden;
    color: white;
    text-align: center;
}

/* Hero background layers */
.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: "/images/irl_trains/Eurostar-PBKA.jpg";
    transition: opacity 1.5s ease-in-out;
    text-align: center;
    vertical-align: middle;
}

/* Overlay starts transparent */
#hero-overlay {
    opacity: 0;
}

/* Hero Content */
.hero-content {
    position: relative;
    z-index: 1;
    /* padding: 8% 20px; */
}

.hero-content h1 {
    font-size: 62px;
    margin: 20px, 20px;
    padding-top: 132px;
    text-shadow: 3px 3px 5px #000000;
    text-align: center;
}

.hero p {
    font-size: 24px;
}

.cta-button {
    background: #0b76c7;
    color: #e0e7f3;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 22px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: background 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background: #c11b8a;
}

.cta-button:active {
    background: rgb(220, 220, 220); /* Fully opaque white background on click */
}

/* .cta-button-inverted {
    background: linear-gradient(45deg, #FFC75F, #FF9671, #FF6F91);
    color: #1C1C1C;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: background 0.3s ease;
}

.cta-button-inverted:hover {
    background: linear-gradient(45deg, #FF6F91, #FF9671, #FFC75F);
}

.cta-button-inverted:active {
    background: #9c6d99; /* Fully opaque white background on click
} */

.h2subhead {
    padding: 0px 0px 10px 2px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.feature {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.feature h2 {
    font-size: 24px;
}

.subsection {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.subsectiontext {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.subsectiontext h2 {
    font-size: 24px;
}

