.socials {
    padding: 20px;
    text-align: center;
}

.socials h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    max-width: 500px;
    margin: 10px 0;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #f3e0eb;
    border: 2px solid transparent;
    border-radius: 50px; /* Fully rounded corners */
    background: linear-gradient(45deg, #0b76c7, #c11b8a);
    transition: background 0.3s ease, border-color 0.3s ease;
    border-color: #1c1c1c;
    border-width: 3px;
}

.social-button i {
    margin-right: 10px;
    font-size: 28px;
}

.social-button:hover {
    background: linear-gradient(45deg, #0963a8, #a41775);
    border-color: #f3e0eb;
}

.social-button:active {
    background: #b583d0;
    color: f3e0eb;
}
